<!DOCTYPE html>
<html>
  <head>
    <title>ReflexSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div>
        Logged in as: <strong><%= current_user.email %></strong>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
